/*Not sure what units of measurement to use yet, px vs em vs rem*/

html {
	font-family: Tahoma;
}
.calendar {
	width: 100%;
}
.calendar td {
	padding: 25px;
}

.currentmonth > * {
	border: 1px solid gray;
	color: #000000;
	text-align: center;
}
.currentmonth .control:hover {
	background: grey;
	background: rgba(0, 0, 0, 0.1);
}
.currentmonth .control{
	cursor: pointer;
}

.daysofweek {
	text-align: center;
}
.daysofweek .dayofweek {
	color: #000000;
}

.premonth {
	color: gray;
	text-align: center;
}

.day {
	color: black;
	text-align: center;
}
.day:hover {
	color: white;
	background-color: black;
}

.day:nth-child(even),.premonth:nth-child(even){
	background:#EEE;
}

.currentday {
	border: 1px solid #0052A3;
	color: #0052A3;
	text-align: center;
}
.currentday:hover {
	color: white;
	background-color: #0052A3;
}
/*--------------------------------------------------------*/
.modal {
	position:fixed;
	z-index:10;
	top:20px;
	bottom:20px;
	left:20px;
	right:20px;
	padding:20px;
	background:white;
	border: 1px solid black;
	border-radius:20px;
	display: none;
}
.modal.active {
	display:block;
}
.modal .close {
	display:inline-block;
	position:fixed;
	top:25px;
	right:30px;
	padding:2px 4px;
	font-size: 0.8em;
	border:1px solid black;
}
.modal .close:hover {
	background:rgba(0,0,0,0.2);
	border:0;
}
.modal .close:before {
	content:"x";
}

.tasks {
	padding:0;
}
.task {
	list-style-type: none;
}
.task .text {
	display:inline-block;
	width:150px;
	padding:2px;
	margin:2px;
}
.task.active {
	background:rgba(255,0,0,0.3);
}
.task:hover {
	background-color:rgba(128,128,255,0.3);
}
