/*Not sure what units of measurement to use yet, px vs em vs rem*/
.calendar td{
 padding: 25px;
 width: 100px;
}

.premonth{
 color: gray;
 text-align: center;
}

/*Haven't decided how to differentiate these headers yet*/
/*--------------------------------------------------------*/
.currentmonth .month{
 border: 1px solid gray;
 color: #000000;
 text-align: center;
}

.currentmonth .prevmonth{
 border: 1px solid gray;
 color: #000000;
 text-align: center;
 cursor: pointer;
}

.currentmonth .nextmonth{
 border: 1px solid gray;
 color: #000000;
 text-align: center;
 cursor: pointer;
}

.currentmonth .today{
 border: 1px solid gray;
 color: #000000;
 text-align: center;
 cursor: pointer; 
}
/*--------------------------------------------------------*/

.daysofweek{
 text-align: center;
}

.daysofweek .dayofweek{
	color: #000000;
}

.day{
 color: black;
 text-align: center;
}

.day:hover{
	color:white;
	background-color : black;
}

.currentday {
 border: 1px solid #0052A3;
 color: #0052A3;
 text-align: center;
}

.currentday:hover {
	color:white;
	background-color : #0052A3;
}
