<!DOCTYPE html>
<html>
	<head>
		<title>Calendar</title>
		<link href = "../css/calendar.css" rel = "stylesheet">
	</head>
	<body>
		<div id = "calendar"> 
			<table id = "calendarTable" class = "calendar">
				<tr class='currentmonth'>
					<th class = 'prevmonth' onclick = "prevMonth()"> Previous </th>
					<th class = 'month'>{calendar.monthText} {calendar.year}</th>
					<th class = 'nextmonth' onclick = "nextMonth()"> Next </th>
					<th class = 'today' onclick = "today()"> Today </th>
					<th onclick = "showSettings()">Settings</th>
				</tr>
				<tr class = 'daysofweek'>
					<td rv-each-dayofweek = "daysInWeek" class="dayofweek">{dayofweek}</td>
				</tr>
				<tr class="week" rv-each-week="calendar.weeks">
					<td rv-each-day="week" rv-on-click="dayClick" rv-class="day.dayType">{day.dayOfMonth}</td>
				</tr>
			</table>
			<div class="modal" id="settings">
				<span class="close" title="close" onclick="showSettings()"></span>
				Modal content here, I guess.
			</div>
		</div>
		
		<script src = "../scripts/watch.min.js"></script>
		<script src = "../scripts/rivets.min.js"></script>
		<script src = "../scripts/calendar.js" ></script>
		<script>init();</script>
	</body>
</html>
